<p id="notice"><%= notice %></p>


<p>
  <strong>ID:</strong>
  <%= @application.id %>
</p>


<p>
  <strong>Applicant:</strong>
  <%= @application.applicant %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @application.datetime %>
</p>

<p>
  <strong>Property:</strong>
  <%= @application.property %>
</p>

<p>
  <strong>Status:</strong>
  <%= @application.status %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
