<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.number_field :property_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.number_field :size %>
  </div>

  <div class="field">
    <%= form.label :available %>
    <%= form.check_box :terms_available %>
  </div>

  <div class="field">
    <%= form.label :earliest_start_date %>
    <%= form.date_select :earliest_start_date %>
  </div>

  <div class="field">
    <%= form.label :apply_fee %>
    <%= form.number_field :apply_fee %>
  </div>

  <div class="field">
    <%= form.label :rent %>
    <%= form.number_field :rent %>
  </div>

  <div class="field">
    <%= form.label :occupied_by %>
    <%= form.number_field :occupied_by %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
